@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//wrapper
.wrapper {
  max-width: 1158px;
  margin: 0 auto;
  height: 800px;
  padding: 0 24px;
}

//header + nav
.header {
  width: 100%;
  height: 203px;
  padding: 48px 0 0 0;
  .nav {
    max-width: 1100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-bar {
      width: 432.25px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-logo {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .nav-link {
        width: 265.48px;
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: none;
          color: #9e9aa8;
          font-size: 15px;
          font-weight: 700;
          line-height: 22.5px;
        }
      }
    }
    .nav-auth {
      width: 184.34px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      .nav-btn-log {
        font-size: 15px;
        font-weight: 700;
        line-height: 22.5px;
        color: #9e9aa8;
        text-decoration: none;
      }
      .nav-btn-sign {
        button {
          width: 105.19px;
          height: 40px;
          background: #2bd0d0;
          border-radius: 28px;
          border: none;
          font-size: 15px;
          font-weight: 700;
          line-height: 22.5px;
          color: #fff;
        }
        button:hover {
          cursor: pointer;
        }
      }
    }
    .nav-menu {
      display: none;
    }
  }
}

//main
.main {
  width: 100%;
  height: 398px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .main-info {
    max-width: 565px;
    h1 {
      max-width: 590px;
      font-size: 80px;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -2px;
      color: #34313d;
    }
    p {
      font-size: 22px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0.15px;
      color: #9e9aa8;
      margin-bottom: 38px;
    }
    button {
      width: 197px;
      height: 40px;
      background: #2bd0d0;
      border-radius: 28px;
      border: none;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      color: #fff;
    }
    button:hover {
      cursor: pointer;
    }
  }
  .main-img {
    max-width: 479px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

//search
.search {
  overflow: hidden;
  transform: translateY(115px);
  width: 100%;

  height: 168px;
  background: url("/src/img/search-bg.png");
  display: flex;
  align-items: center;
  padding: 0 64px;
  gap: 24px;
  border-radius: 10px;
  input {
    width: 100%;
    max-width: 769px;
    height: 64px;
    outline: none;
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #34313d;
    border-radius: 10px;
    border: none;
  }
  button {
    width: 188px;
    height: 64px;
    background: #2bd0d0;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    color: #fff;
  }
  button:hover {
    cursor: pointer;
  }
}

//wrapper-footer
.wrapper-footer {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 910px;
  background: #eff1f7;
  width: 100%;
  .stats {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .stats-info {
      max-width: 540px;
      margin-bottom: 56px;
      text-align: center;
      h3 {
        color: #34313d;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1px;
        margin-bottom: 18px;
      }
      span {
        color: #9e9aa8;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.12px;
      }
    }
    .stats-box {
      display: flex;
      align-items: center;
      height: 311px;
      .stats-card {
        max-width: 350px;
        height: 267px;
        background: #ffffff;
        border-radius: 5px;
        padding: 0 32px;
        .square {
          width: 88px;
          height: 88px;
          border-radius: 50%;
          background: #3a3054;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-44px);
        }
        h4 {
          font-size: 22px;
          font-weight: 700;
          line-height: 33px;
          color: #34313d;
          margin-bottom: 12px;
        }
        p {
          font-size: 15px;
          font-weight: 500;
          line-height: 26px;
          color: #9e9aa8;
        }
      }
      .stats-line {
        width: 30px;
        height: 8px;
        background: #2bd0d0;
      }
    }
  }
}
//boost-link
.boost-link {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/src/img/boost-link-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  .boost-link-info {
    max-width: 540px;
    height: 136px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 32px;
    }
    button {
      padding: 14px 40px 12px 40px;
      background: #2bd0d0;
      border-radius: 28px;
      border: none;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      color: #fff;
    }
    button:hover {
      cursor: pointer;
    }
  }
}

//footer

.footer {
  width: 100%;
  height: 310px;
  background: #232127;
  display: flex;
  align-items: center;
  padding: 0 24px;
  .footer-box {
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer-logo {
      path {
        fill: #fff;
      }
    }
    .footer-link-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 461px;
      width: 100%;
      .footer-link-box {
        h4 {
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.25px;
          margin-bottom: 22px;
        }
        .footer-link {
          display: block;
          a {
            text-decoration: none;
            display: block;
            color: #bfbfbf;
            font-size: 15px;
            font-weight: 500;
            line-height: 22.5px;
            letter-spacing: -0.23px;
          }
        }
      }
    }
    .footer-social {
      max-width: 168px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      svg:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .wrapper {
    .main {
      gap: 100px;
      justify-content: start;
      .main-info {
        h1 {
          font-size: 70px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  .wrapper-footer {
    .stats {
      height: 550px;
      .stats-box {
        height: 400px;
        .stats-card {
          height: 350px;
        }
      }
    }
  }
}
@media only screen and (max-width: 888px) {
  .wrapper {
    height: 1015px;
    .header {
      height: 140px;
      .nav {
        .nav-bar {
          .nav-link {
            display: none;
          }
        }
        .nav-auth {
          display: none;
        }
        .nav-menu {
          display: block !important;
        }
      }
    }
    .main {
      gap: 0;
      flex-direction: column-reverse;
      height: 798px;
      display: flex;
      justify-content: space-between;
      .main-info {
        text-align: center;
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 25px;
        }
        button {
          height: 56px;
        }
        margin-bottom: 88px;
      }
      .main-img {
        height: 270px;
        margin-bottom: 60px;
      }
    }
    .search {
      transform: translateY(0px);
      flex-wrap: wrap;
      justify-content: center;
      button {
        width: 100%;
      }
    }
  }
  .wrapper-footer {
    height: 1482px;
    align-items: start;
    padding: 160px 24px 0 24px;
    .stats {
      .stats-info {
        margin-bottom: 92px;
      }
      .stats-box {
        display: block;
        height: 985px;
        width: 100%;
        .stats-card {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          max-width: 100%;
          height: 267px;
          text-align: center;
          h4 {
            width: 100%;
          }
        }
        .stats-line {
          width: 8px;
          height: 92px;
          margin: 0 auto;
        }
      }
    }
  }
  .footer {
    height: 776px;
    .footer-box {
      display: block;
      margin: 0 auto;
      max-width: 168px;
      text-align: center;
      .footer-logo {
        margin-bottom: 49px;
      }
      .footer-link-wrapper {
        max-width: none;
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        margin-bottom: 49px;
        height: 500px;
        .footer-link-box {
          width: 100%;
          .footer-link {
            display: flex;
            justify-content: space-between;
            flex-flow: column wrap;
            height: 89px;
          }
          .footer-link-company {
            height: 166px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 465px) {
  .wrapper {
    .main {
      gap: 100px;
      justify-content: start;
      .main-info {
        h1 {
          font-size: 42px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: -1.04px;
          margin-bottom: 14px;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 0.12px;
        }
      }
    }
    .search {
      padding: 24px;
      height: 160px;
      input {
        height: 48px;
      }
      button {
        height: 48px;
      }
    }
  }
  .wrapper-footer {
    height: 1900px;
    .stats {
      .stats-info {
        h3 {
          font-size: 28px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: -0.69px;
        }
        span {
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 0.1px;
        }
      }
      .stats-box {
        .stats-card {
          height: 400px;
          h4 {
            font-size: 28px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.69px;
          }
          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.1px;
          }
        }
      }
    }
  }
  .boost-link {
    .boost-link-info {
      h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.69px;
      }
    }
  }
}
