@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//wrapper
.wrapper {
  max-width: 1158px;
  margin: 0 auto;
  height: 800px;
  padding: 0 24px;
}

//header + nav
.header {
  width: 100%;
  height: 203px;
  padding: 48px 0 0 0;
  .nav {
    max-width: 1100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-bar {
      width: 432.25px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-logo {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .nav-link {
        width: 265.48px;
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: none;
          color: #9e9aa8;
          font-size: 15px;
          font-weight: 700;
          line-height: 22.5px;
        }
      }
    }
    .nav-auth {
      width: 184.34px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      .nav-btn-log {
        font-size: 15px;
        font-weight: 700;
        line-height: 22.5px;
        color: #9e9aa8;
        text-decoration: none;
      }
      .nav-btn-sign {
        button {
          width: 105.19px;
          height: 40px;
          background: #2bd0d0;
          border-radius: 28px;
          border: none;
          font-size: 15px;
          font-weight: 700;
          line-height: 22.5px;
          color: #fff;
        }
        button:hover {
          cursor: pointer;
        }
      }
    }
  }
}

//main
.main {
  width: 100%;
  height: 398px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .main-info {
    max-width: 565px;
    h1 {
      max-width: 590px;
      font-size: 80px;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -2px;
      color: #34313d;
    }
    p {
      font-size: 22px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0.15px;
      color: #9e9aa8;
      margin-bottom: 38px;
    }
    button {
      width: 197px;
      height: 40px;
      background: #2bd0d0;
      border-radius: 28px;
      border: none;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      color: #fff;
    }
    button:hover {
      cursor: pointer;
    }
  }
  .main-img {
    max-width: 479px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

//search
.search {
  overflow: hidden;
  transform: translateY(115px);
  width: 100%;

  height: 168px;
  background: url("/src/img/search-bg.png");
  display: flex;
  align-items: center;
  padding: 0 64px;
  gap: 24px;
  border-radius: 10px;
  input {
    width: 100%;
    max-width: 769px;
    height: 64px;
    outline: none;
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #34313d;
    border-radius: 10px;
    border: none;
  }
  button {
    width: 188px;
    height: 64px;
    background: #2bd0d0;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    color: #fff;
  }
  button:hover {
    cursor: pointer;
  }
}

//wrapper-footer
.wrapper-footer {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 910px;
  background: #eff1f7;
  width: 100%;
  .stats {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .stats-info {
      max-width: 540px;
      margin-bottom: 56px;
      text-align: center;
      h3 {
        color: #34313d;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1px;
        margin-bottom: 18px;
      }
      span {
        color: #9e9aa8;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.12px;
      }
    }
    .stats-box {
      display: flex;
      align-items: center;
      height: 311px;
      .stats-card {
        max-width: 350px;
        height: 267px;
        background: #ffffff;
        border-radius: 5px;
        padding: 0 32px;
        .square {
          width: 88px;
          height: 88px;
          border-radius: 50%;
          background: #3a3054;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-44px);
        }
        h4 {
          font-size: 22px;
          font-weight: 700;
          line-height: 33px;
          color: #34313d;
          margin-bottom: 12px;
        }
        p {
          font-size: 15px;
          font-weight: 500;
          line-height: 26px;
          color: #9e9aa8;
        }
      }
      .stats-line {
        width: 30px;
        height: 8px;
        background: #2bd0d0;
      }
    }
  }
}
//boost-link
.boost-link {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/src/img/boost-link-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  .boost-link-info {
    max-width: 540px;
    height: 136px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 32px;
    }
    button {
      padding: 14px 40px 12px 40px;
      background: #2bd0d0;
      border-radius: 28px;
      border: none;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      color: #fff;
    }
    button:hover {
      cursor: pointer;
    }
  }
}

//footer

