@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1158px;
  margin: 0 auto;
  height: 800px;
  padding: 0 24px;
}

.header {
  width: 100%;
  height: 203px;
  padding: 48px 0 0 0;
}
.header .nav {
  max-width: 1100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav .nav-bar {
  width: 432.25px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav .nav-bar .nav-logo {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .nav .nav-bar .nav-link {
  width: 265.48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav .nav-bar .nav-link a {
  text-decoration: none;
  color: #9e9aa8;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
}
.header .nav .nav-auth {
  width: 184.34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.header .nav .nav-auth .nav-btn-log {
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: #9e9aa8;
  text-decoration: none;
}
.header .nav .nav-auth .nav-btn-sign button {
  width: 105.19px;
  height: 40px;
  background: #2bd0d0;
  border-radius: 28px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: #fff;
}
.header .nav .nav-auth .nav-btn-sign button:hover {
  cursor: pointer;
}
.header .nav .nav-menu {
  display: none;
}

.main {
  width: 100%;
  height: 398px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main-info {
  max-width: 565px;
}
.main .main-info h1 {
  max-width: 590px;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313d;
}
.main .main-info p {
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
  margin-bottom: 38px;
}
.main .main-info button {
  width: 197px;
  height: 40px;
  background: #2bd0d0;
  border-radius: 28px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: #fff;
}
.main .main-info button:hover {
  cursor: pointer;
}
.main .main-img {
  max-width: 479px;
  height: 100%;
}
.main .main-img img {
  width: 100%;
  height: 100%;
}

.search {
  overflow: hidden;
  -webkit-transform: translateY(115px);
      -ms-transform: translateY(115px);
          transform: translateY(115px);
  width: 100%;
  height: 168px;
  background: url("/src/img/search-bg.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 64px;
  gap: 24px;
  border-radius: 10px;
}
.search input {
  width: 100%;
  max-width: 769px;
  height: 64px;
  outline: none;
  padding: 14px 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #34313d;
  border-radius: 10px;
  border: none;
}
.search button {
  width: 188px;
  height: 64px;
  background: #2bd0d0;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: #fff;
}
.search button:hover {
  cursor: pointer;
}

.wrapper-footer {
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 910px;
  background: #eff1f7;
  width: 100%;
}
.wrapper-footer .stats {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper-footer .stats .stats-info {
  max-width: 540px;
  margin-bottom: 56px;
  text-align: center;
}
.wrapper-footer .stats .stats-info h3 {
  color: #34313d;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 18px;
}
.wrapper-footer .stats .stats-info span {
  color: #9e9aa8;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.12px;
}
.wrapper-footer .stats .stats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 311px;
}
.wrapper-footer .stats .stats-box .stats-card {
  max-width: 350px;
  height: 267px;
  background: #ffffff;
  border-radius: 5px;
  padding: 0 32px;
}
.wrapper-footer .stats .stats-box .stats-card .square {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #3a3054;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-44px);
      -ms-transform: translateY(-44px);
          transform: translateY(-44px);
}
.wrapper-footer .stats .stats-box .stats-card h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #34313d;
  margin-bottom: 12px;
}
.wrapper-footer .stats .stats-box .stats-card p {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: #9e9aa8;
}
.wrapper-footer .stats .stats-box .stats-line {
  width: 30px;
  height: 8px;
  background: #2bd0d0;
}

.boost-link {
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/src/img/boost-link-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
}
.boost-link .boost-link-info {
  max-width: 540px;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.boost-link .boost-link-info h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 32px;
}
.boost-link .boost-link-info button {
  padding: 14px 40px 12px 40px;
  background: #2bd0d0;
  border-radius: 28px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: #fff;
}
.boost-link .boost-link-info button:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 310px;
  background: #232127;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}
.footer .footer-box {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-box .footer-logo path {
  fill: #fff;
}
.footer .footer-box .footer-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 461px;
  width: 100%;
}
.footer .footer-box .footer-link-wrapper .footer-link-box h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  margin-bottom: 22px;
}
.footer .footer-box .footer-link-wrapper .footer-link-box .footer-link {
  display: block;
}
.footer .footer-box .footer-link-wrapper .footer-link-box .footer-link a {
  text-decoration: none;
  display: block;
  color: #bfbfbf;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: -0.23px;
}
.footer .footer-box .footer-social {
  max-width: 168px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-box .footer-social svg:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .wrapper .main {
    gap: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .wrapper .main .main-info h1 {
    font-size: 70px;
  }
  .wrapper .main .main-info p {
    font-size: 20px;
  }
  .wrapper-footer .stats {
    height: 550px;
  }
  .wrapper-footer .stats .stats-box {
    height: 400px;
  }
  .wrapper-footer .stats .stats-box .stats-card {
    height: 350px;
  }
}
@media only screen and (max-width: 888px) {
  .wrapper {
    height: 1015px;
  }
  .wrapper .header {
    height: 140px;
  }
  .wrapper .header .nav .nav-bar .nav-link {
    display: none;
  }
  .wrapper .header .nav .nav-auth {
    display: none;
  }
  .wrapper .header .nav .nav-menu {
    display: block !important;
  }
  .wrapper .main {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 798px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .main .main-info {
    text-align: center;
    margin-bottom: 88px;
  }
  .wrapper .main .main-info h1 {
    font-size: 60px;
  }
  .wrapper .main .main-info p {
    font-size: 25px;
  }
  .wrapper .main .main-info button {
    height: 56px;
  }
  .wrapper .main .main-img {
    height: 270px;
    margin-bottom: 60px;
  }
  .wrapper .search {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .search button {
    width: 100%;
  }
  .wrapper-footer {
    height: 1482px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 160px 24px 0 24px;
  }
  .wrapper-footer .stats .stats-info {
    margin-bottom: 92px;
  }
  .wrapper-footer .stats .stats-box {
    display: block;
    height: 985px;
    width: 100%;
  }
  .wrapper-footer .stats .stats-box .stats-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    height: 267px;
    text-align: center;
  }
  .wrapper-footer .stats .stats-box .stats-card h4 {
    width: 100%;
  }
  .wrapper-footer .stats .stats-box .stats-line {
    width: 8px;
    height: 92px;
    margin: 0 auto;
  }
  .footer {
    height: 776px;
  }
  .footer .footer-box {
    display: block;
    margin: 0 auto;
    max-width: 168px;
    text-align: center;
  }
  .footer .footer-box .footer-logo {
    margin-bottom: 49px;
  }
  .footer .footer-box .footer-link-wrapper {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 49px;
    height: 500px;
  }
  .footer .footer-box .footer-link-wrapper .footer-link-box {
    width: 100%;
  }
  .footer .footer-box .footer-link-wrapper .footer-link-box .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 89px;
  }
  .footer .footer-box .footer-link-wrapper .footer-link-box .footer-link-company {
    height: 166px;
  }
}
@media only screen and (max-width: 465px) {
  .wrapper .main {
    gap: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .wrapper .main .main-info h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.04px;
    margin-bottom: 14px;
  }
  .wrapper .main .main-info p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.12px;
  }
  .wrapper .search {
    padding: 24px;
    height: 160px;
  }
  .wrapper .search input {
    height: 48px;
  }
  .wrapper .search button {
    height: 48px;
  }
  .wrapper-footer {
    height: 1900px;
  }
  .wrapper-footer .stats .stats-info h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.69px;
  }
  .wrapper-footer .stats .stats-info span {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
  }
  .wrapper-footer .stats .stats-box .stats-card {
    height: 400px;
  }
  .wrapper-footer .stats .stats-box .stats-card h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.69px;
  }
  .wrapper-footer .stats .stats-box .stats-card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
  }
  .boost-link .boost-link-info h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.69px;
  }
}